body{
    padding:50px;
    font:14px;
}
a{
    color: #00b7ff;
}
#content{
    widows: 800px;
    margin: 0 auto;
}
#room{
    background: #ddd;
    margin-bottom: 1em;
}
#message{
    width:690px;
    height: 300px;
    overflow: auto;
    background-color: #eee;
    margin-bottom:1em;
    margin-right: 10px;
}